name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Compile myMax
      id: compile-mymax
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Compile myMax
        setup-command: ''
        command: g++ --std=c++17 myMax.cpp -o myMax
        timeout: 10
        max-score: 5
    - name: Run myMax
      id: run-mymax
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Run myMax
        setup-command: ''
        command: "./myMax"
        input: ''
        expected-output: |-
          7
          3.5
          banana
        comparison-method: contains
        timeout: 10
        max-score: 5
    - name: Compile Box
      id: compile-box
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Compile Box
        setup-command: ''
        command: g++ --std=c++17 Box.cpp -o Box
        timeout: 10
        max-score: 5
    - name: Run Box
      id: run-box
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Run Box
        setup-command: ''
        command: "./Box"
        input: ''
        expected-output: |-
          10
          3.14
          CS20
        comparison-method: contains
        timeout: 10
        max-score: 5
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        COMPILE-MYMAX_RESULTS: "${{steps.compile-mymax.outputs.result}}"
        RUN-MYMAX_RESULTS: "${{steps.run-mymax.outputs.result}}"
        COMPILE-BOX_RESULTS: "${{steps.compile-box.outputs.result}}"
        RUN-BOX_RESULTS: "${{steps.run-box.outputs.result}}"
      with:
        runners: compile-mymax,run-mymax,compile-box,run-box
